/* navigation */
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activeLink {
  padding-bottom: 5px;
  border-bottom: 3px solid #363636;
  transition: 0.2s;
  font-weight: 700;
  font-size: 18px;
}

.activeLink:hover {
  color: #363636;
}

.nonActiveLink {
  padding-bottom: 5px;
  transition: 0.2s;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}
.nonActiveLink:hover {
  color: #363636;
  font-weight: 700;
  border-bottom: 3px solid #363636;
}
.profileImg {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 3px;
  border-color: transparent #dfd3d3;
  border-style: solid;
  padding: 2px;
  margin-right: 10px;
}
.profile {
  cursor: pointer;
  position: relative;
  height: 55px;
}
.profile span {
  font-weight: 700;
  margin-right: 10px;
}

.user_action {
  width: 100%;
  position: absolute;
  padding: 15px 20px 10px 20px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 5px;
  display: none;
}
.user_action span {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
  transition: 0.2s;
}

.user_action span:hover {
  font-weight: 700;
}

.profile:hover .user_action {
  display: block;
}
